@charset "utf-8";

.element {
	margin: 20px 0 10px 30px;
}

#own {
	float: left;
	width: 470px;
	height: 260px;
	text-align: center;
	margin-right: 20px;
}

.owncard {
	display: block;
	border: 2px solid #666;
	width: 80px;
	line-height: 10px;
	padding: 0px;
	float: left;
	margin: 20px 3px 3px 3px;
	border-radius: 10px;
}

.owncard.selectable {
  border-color: #00FF00;
}

.owncard.selected {
	margin: 3px 3px 20px 3px;
}

.memo {
	width: 25px;
	height: 25px;
	padding: 0 5px;
}

#actions {
	height: 100px;
	float: left;
}

.actionbox {
	display: block;
	float: left;
	height: 160px;
	width: 450px;	
}


.toplayer {
	display: block;
	margin: 10px auto;
	height: 25px;
	width: 120px;
}

#hintcolors, #hintnumbers {
	float: left;
	width: 225px;
	text-align: left;
}

.hintselector {
	width: 50px;
}

.select {
	display: inline;
	height: 20px;
	width: 90px;
	float: left;
}

.action {
	height: 30px;
	width: 80px;
	margin: 5px;	
}

#board {
	float: left;
	width: 560px;
	height: 260px;
	margin-right: 20px;
}

#hints {
	float: left;	
	width: 360px;
}

#lives {
	float: left;
	width: 120px;
	padding: 0 30px;
}

.cardplace, .cardtrash, .cardhand {
	display: block;
	border: 2px solid #666;
	height: 120px;
	width: 80px;
	line-height: 35px;
	font-size: 35px;
	text-align: center;
	padding: 0;
	float: left;
	margin: 3px 3px 3px;
	border-radius: 10px;
}

.marker {
	display: block;
	height: 30px;
	width: 30px;
	line-height: 30px;
	font-size: 14px;
	padding: 6px 0;
	margin: 3px;
	text-align: center;	
	float: left;
}

#discard {
	width: 500px;
	padding: 0 0 0 60px;
	float: left;
}

.discardrow {
	clear: both;
}

.discardrow > img {
	margin-top: -100px;
}


.discardrows {
	clear: both;
}

.discardrow:first-child > img {
	margin-top: 0px !important;
}

.cardtrash {
	line-height: 16px;
	font-size: 16px;
	padding: 0;
	text-align: left;
	margin: 3px 3px 3px -55px;
}

.linebrake {
	clear: both;	
}

#logandchat {
	background-color: #EEE;
	float: left;
	width: 450px;
	height: 1000px;
	margin-top: 30px;
}

#logandchat .logmessage:nth-child(odd) {
	background-color: #EEE;
}

#logandchat .logmessage:nth-child(even) {
	background-color: #CCC;
}

.playerhand {
	float: left;
	width: 300px;
	padding-left: 80px;
	height: 180px;
}

.cardhand {
	text-align: left;
	width: 70px;
	margin: 3px 3px 3px -40px;
}

.R {
	background-color: #F00;
}

.W {
	background-color: #FFF;
}

.G {
	background-color: #0F0;
}

.Y {
	background-color: #FF0;
}

.B {
	background-color: #00F;
}

.P {
	background-color: #F0F;
}
