@charset "utf-8";

.element {
	margin: 20px 0 10px 25px;
}

#own {
	float: left;
	width: 470px;
	height: 260px;
	text-align: center;
	margin-right: 20px;
}

.owncard {
	display: block;
	border: 2px solid #666;
	width: 80px;
	line-height: 10px;
	padding: 0px;
	float: left;
	margin: 20px 3px 3px 3px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	behavior: url(css/PIE.htc);
}

.owncard.selectable {
  border-color: #00FF00;
}

.owncard.selected {
	margin: 3px 3px 20px 3px;
}

.memo, mimo {
	width: 25px;
	height: 25px;
	padding: 0 5px;
}

.mimo { /*Hihetetlen...*/
	padding: 0 5px;
}

#actions {
	height: 100px;
	float: left;
}

.actionbox {
	display: block;
	float: left;
	height: 160px;
	width: 450px;	
}


.toplayer {
	display: block;
	margin: 10px auto;
	height: 25px;
	width: 120px;
}

#hintcolors, #hintnumbers {
	float: left;
	width: 225px;
	text-align: left;
}

.hintselector {
	width: 50px;
}

.select {
	display: inline;
	height: 20px;
	width: 90px;
	float: left;
}

.action {
	height: 30px;
	width: 80px;
	margin: 5px;	
}

#board {
	float: left;
	width: 690px;
	height: 260px;
	margin-right: 20px;
}

#fireworks {
	float: left;	
	width: 540px;
}


#hints {
	float: left;	
	width: 360px;
}

#lives {
	float: left;
	width: 120px;
	padding: 0 30px;
}

#deckbox {
	width: 105px;
	margin: 0 0 0 580px;
}
#deck {
	width: 105px;
	height: 140px;
	background: url(../images/cards/back.gif) no-repeat;
}

#decknum {
	color: #C90;
	width: 50px;
	margin: 65px 35px;
	line-height: 135px;
	font-size: 40px;
	text-align: center;

	text-align: center;
}

.cardplace, .cardtrash, .cardhand {
	display: block;
	border: 2px solid #666;
	height: 120px;
	width: 80px;
	line-height: 35px;
	font-size: 35px;
	text-align: center;
	padding: 0;
	float: left;
	margin: 3px 3px 3px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	behavior: url(css/PIE.htc);
}

.marker {
	display: block;
	height: 30px;
	width: 30px;
	line-height: 30px;
	font-size: 14px;
	padding: 6px 0;
	margin: 3px;
	text-align: center;	
	float: left;
}

.linebrake {
	clear: both;	
}

#logandchat {
	background-color: #EEE;
	float: right;
	width: 820px;
	height: 1000px;
	margin-top: 30px;
	overflow: scroll;
}

#logandchat .logmessage:nth-child(odd) {
	background-color: #EEE;
}

#logandchat .logmessage:nth-child(even) {
	background-color: #CCC;
}

.playerhand {
	width: 300px;
	padding-left: 80px;
	height: 180px;
}

.cardhand {
	text-align: left;
	width: 70px;
	margin: 3px 3px 3px -40px;
}

.R {
	background-color: #F00;
}

.W {
	background-color: #FFF;
}

.G {
	background-color: #0F0;
}

.Y {
	background-color: #FF0;
}

.B {
	background-color: #00F;
}

.P {
	background-color: #F0F;
}

#discard {
	width: 300px;
	margin: 0 0 100px 0;
	padding: 0 0 0 80px;
}

.discardrow {
	clear: left;
}

.discardrow > img{
	margin-top: -100px;
}

.discardrow:first-child > img{
	margin-top: 0px !important;
}

.cardtrash {
	padding: 0;
	text-align: left;
	margin: 3px 3px 3px -55px;
}

